.submit-primary-button {
    --text-size: 16px;
    --font-weight: 400;
    background: linear-gradient(135deg,#d63c68,#6a82fb)!important; 
    background-size: 200% 200%!important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-size) !important;
    font-weight: var(--font-weight) !important;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.75!important;
        color: var(--button-color);
    }

    &:hover {
        animation: linearBackground 1.5s ease-in infinite !important;
    }
}

@keyframes linearBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%; 
    }
}