.g-change-avatar-section {
    position: relative;
    cursor: pointer;

    .g-change-avatar-section-avatar {
        border-radius: 1.5rem
    }

    .g-change-avatar-section-icon {
        position: absolute;
        right: -0.25rem;
        bottom: -0.25rem;
        color: var(--primary-text-color);
        border-radius: 1.5rem;
        width: 2rem;
        height: 2rem;
        padding: 0.25rem;
        background-color: var(--main-sub-background-color);
    }
}