.common-auth-container {
    background: var(--auth-background-color);  
    background-size: 200% 200%;
    animation: linearBackground 8s ease-in infinite;

    .g-notification-bar {
        top: 20px;
        right: 20px;
        width: auto;
        min-width: 300px;
        position: absolute;
        z-index: 100;

        &::before {
            inset-inline-start: 0.5rem;
            top: 0.75rem;
            bottom: 0.75rem;
            width: 0.25rem;
        }

        .mantine-Notification-icon {
            background-color: transparent;
            font-size: 24px;
        }

        .mantine-Notification-title {
            font-size: 16px;
            font-weight: 600;
            color: #000;
        }
    }
}