/** @format */

.swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}

.g-story-list-section {
    .g-story-list-section-title {
        margin: 0 3.5rem;
        font-weight: 700;
        font-size: 24px;
    }

    .g-story-list-section-List {
        display: flex;
        align-items: center;
        justify-content: start;

        .g-story-list-section-List-button {
            background-color: var(--default-white-color);
            --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
            filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
        }

        .g-story-list-section-List-swiper {
            width: 100%;
            max-width: 900px;
            height: 100px;
            margin: 0 0.75rem;

            .g-story-list-section-List-swiper-slide {
                cursor: pointer;
                border-width: 4px;
                border-color: var(--main-sub-background-color);
                --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
                filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
            }
        }
    }
}
