/** @format */

:root {
    /* Background */
    --auth-background-color: linear-gradient(90deg, #d63c68, #6a82fb);
    --auth-sub-background-color: white;

    /* Text */
    --primary-text-color: black;
    --default-white-color: white;
    --default-black-color: black;

    /* Link */
    --primary-link-color: blue;

    /* Button color */
    --primary-submit-button: linear-gradient(90deg, #d63c68, #6a82fb);

    /* TextField */
    --primary-input-background-color: #ffecf4;
    --default-input-background-color: #ffecf4;
    --errorMessage-color: red;

    /* Box shadow */
    --common-box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

    /* Icon */
    --primary-icon-color: #d63c68;
}

.dark {
    /* Background */
    --auth-background-color: rgba(15, 23, 42, 1);
    --auth-sub-background-color: rgba(75, 85, 99, 1);

    /* Text */
    --primary-text-color: white;
    --default-white-color: white;
    --default-black-color: black;

    /* Link */
    --primary-link-color: #d63c68;

    /* Button color */
    --primary-submit-button: #d63c68;

    /* TextField */
    --primary-input-background-color: white;
    --default-input-background-color: #ffecf4;
    --errorMessage-color: rgb(255, 70, 70);

    /* Box shadow */
    --common-box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

    /* Icon */
    --primary-icon-color: #d63c68;
}
