/** @format */

:root {
    /* Background */
    --auth-background-color: linear-gradient(90deg, #d63c68, #6a82fb);
    --auth-sub-background-color: white;
    --main-background-color: #f6f9fb;
    --main-sub-background-color: white;
    --main-third-bg-color: #4b5563;

    /* Text */
    --primary-text-color: #362c2c;
    --default-white-color: white;
    --default-black-color: #362c2c;

    /* Link */
    --primary-link-color: #2563eb;

    /* Button color */
    --primary-submit-button: linear-gradient(90deg, #d63c68, #6a82fb);

    /* TextField */
    --primary-input-background-color: #ffecf4;
    --default-input-background-color: #ffecf4;
    --errorMessage-color: red;

    /* Box shadow */
    --common-box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

    /* Icon */
    --primary-icon-color: #d63c68;

    /* Tooltip */
    --tooltip-background-color: #362c2c;
    --tooltip-text-color: white;

    /* Create post */
    --create-post-background-color: white;
    --create-post-sub-background-color: #f1f5f9;

    /* Border */
    --primary-separator-color: rgb(229, 231, 235);
}

.dark {
    /* Background */
    --auth-background-color: rgba(15, 23, 42, 1);
    --auth-sub-background-color: #334155;
    --main-background-color: rgba(15, 23, 42, 1);
    --main-sub-background-color: #334155;
    --main-third-bg-color: rgba(75, 85, 99, 1);

    /* Text */
    --primary-text-color: white;
    --default-white-color: white;
    --default-black-color: #362c2c;

    /* Link */
    --primary-link-color: #d63c68;

    /* Button color */
    --primary-submit-button: #d63c68;

    /* TextField */
    --primary-input-background-color: white;
    --default-input-background-color: #ffecf4;
    --errorMessage-color: rgb(255, 70, 70);

    /* Box shadow */
    --common-box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

    /* Icon */
    --primary-icon-color: #d63c68;

    /* Tooltip */
    --tooltip-background-color: white;
    --tooltip-text-color: #362c2c;

    /* Create post */
    --create-post-background-color: #1e293b;
    --create-post-sub-background-color: #334155;

    /* Border */
    --primary-separator-color: #4b5563;
}
