.common-navigation-section {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    .active {
        background: linear-gradient(90deg,#d63c68,#6a82fb);  
        color: #fff;
    
        .common-navigation-icon {
            color: #fff;
        }
    }
}

.common-navigation-icon {
    color: #000;
    font-size: 20px;
}
