.active {
    background: linear-gradient(90deg,#d63c68,#6a82fb);  
    color: #fff;

    .common-navigation-icon {
        color: #fff;
    }
}

.common-navigation-icon {
    color: #000;
    font-size: 20px;
}
