.text-input-wrapper {
    flex: 1;
    color: var(--default-black-color);
    background-color: var(--primary-input-background-color);
    
    &:focus-within {
        outline: none;
        border: none;
    }

    &:focus {
        outline: none;
        border: none;
    }

    &:focus-visible {
        outline: none;
        border: none;
    }

    input {
        font-size: 14px;
        font-weight: 400;
        &::placeholder {
            color: var(--default-black-color);
            font-weight: 500;
        }
    }
}