.text-input-wrapper {
    margin-top: 0!important;
    flex: 1;

    input.mantine-Input-input {
        color: #000;
        font-weight: 400;
        font-size: 14px;
    }
    
    .mantine-Input-input:focus-within {
        outline: none;
        border: none;
    }

    .mantine-Input-input:focus {
        outline: none;
        border: none;
    }
}